*.php linguist-detectable=true
*.js linguist-detectable=true
*.jsx linguist-detectable=true
*.css linguist-detectable=true
*.json linguist-detectable=true
*.env linguist-vendored
node_modules/* linguist-vendored
vendor/* linguist-vendored